<a href="https://colab.research.google.com/github/ranjith-25/Web-Scraping/blob/main/Major_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Major Project
# applying suitable clasifier or regressor

In [ ]:
import pandas as pd
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.data',
                 names = ['Id number: 1 to 214','RI: refractive index',' Na: Sodium(unit measurement: weight percent in corresponding oxide, as are attributes 4-10)',' Mg: Magnesium',' Al: Aluminum','Si: Silicon','K: Potassium',
                         'Ca: Calcium',' Ba: Barium','Fe: Iron','Type of glass: (class attribute)'])

In [ ]:
df # Shows the dataframe in a tabular format below with column names

,Id number: 1 to 214,RI: refractive index,"Na: Sodium(unit measurement: weight percent in corresponding oxide, as are attributes 4-10)",Mg: Magnesium,Al: Aluminum,Si: Silicon,K: Potassium,Ca: Calcium,Ba: Barium,Fe: Iron,Type of glass: (class attribute)
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
209,210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.0,7
210,211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.0,7
211,212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.0,7
212,213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.0,7
213,214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.0,7

In [ ]:
df.size

2354

In [ ]:
df.shape  # the output below shows 214 rows and 11 columns

(214, 11)

In [ ]:
#4.Divide the data into input and output
x = df.iloc[:,1:10].values
x

array([[ 1.52101, 13.64   ,  4.49   , ...,  8.75   ,  0.     ,  0.     ],
       [ 1.51761, 13.89   ,  3.6    , ...,  7.83   ,  0.     ,  0.     ],
       [ 1.51618, 13.53   ,  3.55   , ...,  7.78   ,  0.     ,  0.     ],
       ...,
       [ 1.52065, 14.36   ,  0.     , ...,  8.44   ,  1.64   ,  0.     ],
       [ 1.51651, 14.38   ,  0.     , ...,  8.48   ,  1.57   ,  0.     ],
       [ 1.51711, 14.23   ,  0.     , ...,  8.62   ,  1.67   ,  0.     ]])

In [ ]:
y = df.iloc[:,10].values
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7])

In [ ]:
#train and test variables
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [ ]:
#Normalisation or Scaling(DONE only for INPUTS)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [ ]:
# Apply a CLASSIFIER,regressor or clusterer
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
#FIT the model
model.fit(x_train,y_train)

LogisticRegression()

In [ ]:
#Predict the output
y_pred = model.predict(x_test)
y_pred #PREDICTED OUTPUT VALUES

array([7, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 7, 1, 1, 1, 1, 5, 1,
       7, 7, 1, 1, 7, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 7, 5, 7, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 2, 7, 1])

In [ ]:
y_test #ACTUAL OUTPUT VALUES

array([7, 1, 2, 6, 5, 2, 2, 2, 1, 2, 1, 2, 3, 2, 2, 7, 2, 1, 3, 3, 5, 2,
       7, 7, 2, 1, 7, 1, 2, 2, 1, 1, 2, 2, 2, 3, 1, 3, 2, 7, 2, 6, 2, 1,
       2, 2, 1, 2, 1, 2, 1, 2, 7, 1])

In [ ]:
#Accuracy Checking
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)*100

46.2962962962963